body {
    background: black;
    color: #fff;
}

.navbar {
    opacity: 0.8;
    border-bottom: #008ed6 5px solid;
}

#home {
    background-image: url("../Content/images/home-section.jpeg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

    #home.home-inner {
        padding-top: 150px;
    }

    #home .dark-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 600px;
    }

    #home .card-form {
        opacity: 0.8;
    }

    #home .fa {
        color: #008ed6;
        background: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: 20px;
    }

.bg-orange {
    background: rgba(243, 156, 18, 0.9);
}

.bg-green {
    background: rgba(34, 153, 84, 0.9);
}

.bg-blue {
    background: rgba(46, 134, 193, 0.9);
}

.footer {
    background: #283747;
}
.home-inner2 {
    padding-top: 150px;
}
#home2 {
    background-image: url("../Content/images/brokers-section.jpeg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}

    #home2.home-inner {
        padding-top: 150px;
    }
#home .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}