
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="home">
        <div class="dark-overlay">
            <div class="home-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 d-none d-lg-block">
                            <h1>Find
                                <strong>Rommates</strong> and find
                                <strong>Brokers</strong> easily for your dream
                                <strong> Home</strong>
                            </h1>
                            <div class="d-flex flex-row">
                                <div class="p-4 align-self-start">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="p-4 align-self-end">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-4 align-self-start">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="p-4 align-self-end">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="p-4 align-self-start">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="p-4 align-self-end">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card bg-primary text-center card-form">
                                <div class="card-body">
                                    <h3>Quick SignUp</h3>
                                    <p>To avail all facilities please register</p>
                                    <form action="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Re-type Password">
                                        </div>
                                        <input type="submit" class="btn btn-outline-light btn-block">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Serivices-->
    <div class="bg-orange">
        <div class="container">
            <h1 class="text-center display-2">Brookers</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
    <div class="bg-green">
        <div class="container">
            <h1 class="text-center display-2">Roomate</h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).</p>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).</p>
        </div>
    </div>
    <div class="bg-blue">
        <div class="container">
            <h1 class="text-center display-2">Buy and Sell</h1>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).
            </p>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
                packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
                by accident, sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>

